body {
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background-image: url(images/bg.jpg);
}

button {
    border: 20px;
    background-image: linear-gradient(150deg,#56929c,#56929c,#56929c);
    border-radius: 8px;
    color: black;
    display: flex;
    font-size: 20px;
    padding: 0;
    cursor: pointer;
    transition: .3s;
    margin-left: auto;
    margin-right: auto;
}

button span a{
    background-color: #F3E5AB;
    padding: 12px 28px;
    border-radius: 6px;
    transition: .3s;
    text-decoration-line: none;
    text-decoration-color: none;
    text-align: right;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0, 2)
}

.titulo {
    text-align: center;
    font-family: '#F3E5ABBebas Neue', serif;
    color: #F3E5AB;
    font-size: 50px;
}

.drc {
    color: #ffffff;
    text-align: center;
}

.final {
    text-align: center;
    font-family: 'Bebas Neue', serif;
    color: #ffffff;
    font-size: 25px;
}

.section {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    width: 500%;
    height: 500px;
    display: flex;
}

.slide input {
    display: none;
}

.st {
    width: 20%;
    transition: 2s;
}

.st img {
    width: 800px;
    height: 500px;
}

.nav-m {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}

.m-btn {
    border: 2px solid #847c7c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover {
    background-color: #847c7c;
}

#radio1:checked ~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

.nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.nav-auto div {
    border: 2px solid #56929c;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child) {
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .nav-auto .a-b1{
    background-color: #847c7c;
}

#radio2:checked~.nav-auto .a-b2 {
    background-color: #847c7c;
}

#radio3:checked~.nav-auto .a-b3 {
    background-color: #847c7c;
}